*{margin: 40px;}

#title{text-align: center; font-size: 50px; font-style: oblique; color: rgb(12, 51, 12);}

#game{display: flex; flex-direction: column; text-align: center;}

#roll{background-color: rgb(12, 51, 12); width: fit-content; align-self: center; font-size: 40px; border-radius: 5px;color: aliceblue;}

#displayBox{display: flex; flex-direction: row; justify-content: center;}

#total{display: flex; flex-direction: column; background-color: rgb(12, 51, 12); height: fit-content; padding: 10px; color: aliceblue;}

#totalMsg{background-color: forestgreen; padding: 10px;}

#dieImg{height: fit-content;}

#displayMsg{background-color: rgb(12, 51, 12);height: fit-content; padding: 10px;color: aliceblue;}